<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CoursIgor</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <!--
    <content src="http://coursigor.ps8.academy/index.html" />
    -->
    <content src="index.html" />
    <access origin="http://coursigor.ps8.academy/" />
    <allow-navigation href="*://coursigor.ps8.academy/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <!--
    <preference name="scheme" value="http" />
    <preference name="DisableOverScroll" value="true" />
    <preference name="WebViewBounce" value="true" />
    -->
</widget>
