/* localGame.css */



body {
    background: #000000;
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / auto 1fr auto;
    margin: 0;

}


.overlay {
    display: none;
    position: absolute;
    background-color: rgb(37, 37, 37);
    padding: 370px;
    text-align: center;
}

.overlay button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fbca1f;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    grid-row: 2/2;
}
p{
    color: yellow;
    font-size: 20px;
    font-weight: bold;
}

.overlay.active {
    display: block;
}


header {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / 4;
}

header img {
    height: 5rem;
}
.MiddleHeader{
    display: block;
    text-align: center;
}
#StartGame{
    background: #fbca1f;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    grid-row: 2/2;
}

#StartGame:hover{
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

.gameTitle {
    color: white;
    padding-top: 4rem;
    font-size: 3rem;
    grid-row: 1/2;
}
.left-sidebar,
.right-sidebar {
    padding: 1rem;
    text-align: center; /* Ajout pour centrer horizontalement */
    display: flex; /* Ajout pour aligner verticalement */
    flex-direction: column; /* Ajout pour aligner verticalement */
    align-items: center; /* Ajout pour aligner verticalement */
}

.left-sidebar {
    grid-column: 1 / 2;


}

main {
    background: #1f1f1f;
    margin: auto;
    grid-column: 2 / 3;
}

.right-sidebar {
    grid-column: 3 / 4;
}

footer {
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}

body {
    font-family: system-ui, sans-serif;
}

.left-sidebar,
.right-sidebar {
    padding: 1rem;
}

button {
background: #000000;
    border: none;

}
.button:hover{
    cursor: pointer;
    background: rgba(138, 0, 0, 0.55);
}

.container {
    width: 80vmin;
    height: 80vmin;
    display: flex;
    justify-content: center;

}
.child{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    cursor: pointer;
    fill: rgba(138, 0, 0, 0.55);
}

.wall:hover {
    cursor: pointer;
    fill: rgba(255, 128, 128, 0.55);
}

.wall {
    /*transition: all 0.3s ease;*/
    transform-origin: center;
}
